h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
color: #0d2c40;
letter-spacing: 1px;
font-size: 45px;
margin: 0;
}

p {
font-family: "Droid Serif", serif;
}

h2 {
font-family: "Raleway", sans-serif;
font-weight: 400;
color: #f15b31;
letter-spacing: 1px;
font-size: 18;
}

a{
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
  border-bottom: 2px solid transparent
}
a:hover {
border-color: white;
}

body {
text-align: center;
text-decoration: none;
}
header{
  background-color: #F15B31;
  color: #fff;
  padding: 30px 20px 30px 20px;
  margin: 0;
}
nav{
  background-color: #00a6b3;
  text-decoration: none;
  color: white;
  padding: 20px 20px 20px 20px;
}
main{
  width: 850px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
img{
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 8px;
}
.copyright{
  font-family: "Raleway", sans-serif;
  float: left;
}
.message{
  font-family: "Raleway", sans-serif;
  float: right;
}
.clearfix::after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
footer{
  font-family: "Raleway", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background: #0d2c40;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
}
